Source: salt-formula-panko
Maintainer: Mirantis Dev <dev@mirantis.com>
Section: admin
Priority: optional
Build-Depends: debhelper (>= 9), salt-master, python, python-yaml
Standards-Version: 3.9.6
Homepage: https://www.mirantis.com
Vcs-Browser: https://gerrit.mcp.mirantis.com/#/admin/projects/salt-formulas/panko
Vcs-Git: https://gerrit.mcp.mirantis.com/salt-formulas/panko.git

Package: salt-formula-panko
Architecture: all
Depends: ${misc:Depends}
Description: panko salt formula
 Install and configure panko system.
